body{
    margin: auto;
    padding: 0;
    background: -webkit-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("ar.jpg");
    background-position: relative;
    background-size: cover;
    padding: 1em 1em 1em 1em;
    margin:1em 1em 1em 1em;
}
.para{
    max-width: 100%;
    text-align: center;
    margin-top: 2em;
    padding-top: 2em;
}
h2{
    max-width: 500px;
    color: burlywood;
    margin-top: 30px;
    margin-left: 550px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 1em;
}
p{
    color: rgb(213, 218, 221);
    font-weight: bold;
    padding-left: 1em;
    text-align: center;
    font-size: 18px;
    font-family: serif;
    font-style: initial;
}
.slider{
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 1200px;
    margin-left: 80px;
    margin-top: 100px;
}
@-webkit-keyframes slide_animation{
    0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 1200px;}
    30% {left: 1200px;}
    40% {left: 1200px;}
    50% {left: 2400px;}
    60% {left: 2400px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left: 0px;}
}
.slide-image{
    width: 3850px;
    height: 400px;
    margin: 5px 0 0 -2300px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.img-container{
    width: 1170px;
    position: relative;
    max-width: 100%;
    float: right;
}
.img-resize{
    height: 250px;
    width: 100px;
}