/* .footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 1em;
    background-color: rgb(214, 211, 209);
    min-height: 100px;
  }
.header
{
    background: linear-gradient(rgba(0, 7, 7, 0.6),rgba(0,0,0,0.1)), url("back.jpg");
    height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
} */