<html>
    <head>
    <link rel="stylesheet" href="{{url_for('static',filename='farmersearch.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Cache-Control" control="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <!-- <link rel="text/javascript" href="S:project/application/static/js/filtermain.js"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        </head>
    <body id="body">
        <h2><center>Search by selection</center></h2>
        <!-- <legend>Filter</legend> -->
        <div class="mainsearch" id="aaa">
            <input type="checkbox" id="by_afford"/>
            <label for="range">Filter by Range</label>
            <class id="for_range">
                <label for="start_range">From</label>
                <input type="number" id="start"/>
                <label for="end_range">To</label>
                <input type="number" id="end"/>
            </class>
            <label for="confirm01">Do you want to filter the rest by above selection</label>
            <input type="radio" id="yes" name="confirm1" value="yes">
            <label for="yes">Yes</label>
            <input type="radio" id="no" name="confirm1" value="no">
            <label for="no">No</label>
            <input type="checkbox" id="by_place"/>
            <label for="place">Filter by Place</label>
            <class id="for_place">
                <label for="district">Select District</label>
                <select id="diss" onselect="show_mand(this)">
                    <option value="">__Select__</option>
                </select>
                <label for="mandal">Select Mandal</label>
                <select id="mann">
                    <option value="">__Select__</option>
                </select>
            </class>
            <label for="crop">Filter by Crop</label>
            <class id="for_crop">
                <label for="crop_name">Select Your Choice</label>
                <select multiple size="">
                    <option val="0">__Select__</option>
                </select>
            </class>
            <label for="analyse">Are you excited to see the previous years analysis of selected crops </label>
            <input type="radio" id="excited" name="confirm2" value="yes">
            <label for="yes">Yes,I'm interested</label>
            <input type="radio" id="notexcited" name="confirm2" value="no">
            <label for="no">No,I'm not interested</label>
            <label for="confirm02">You want to go for single or multiple crops</label>
            <select id="confirm3">
                <option val="0">Single</option>
                <option val="1">Multiple</option>
            </select>
        </div>
    </body>
    <!-- <script type="text/javascript" src="{{url_for('static',filename='js/filtermain.js')}}"></script> -->
    <script>
        $(document).ready(function(){
            $('#aaa').hide();
        })
    </script>
</html>