<!DOCTYPE html>
<html lang="en">
<head>
    <meta char set="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>
        Footer
    </title>
    <link rel="stylesheet" href="sam_style.css">
</head>
<body>
   
    <footer>
        <div class="contact">
            <a href="cont.html" title="Contact Us" class="redBgLink">Contact Us</a>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
                            <h2>Agro Backing</h2>
                            <p>Agro Backing is for farmers<br/> struggling to cope up with <br/> situations and in need....!</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 segment-two">
                            <h2>Useful links</h2>
                            <ul>
                                <li><a href="main.html">Home</a></li>
                                <li><a href="prof.html">Profile</a></li>
                                <li><a href="about.html">About us </a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 segment-three">
                            <h2>Follow us on</h2>
                            <p>Please follow us on our social media pages in order to keep updated.</p>
                            <a href="#"><i class="fa fa-facebook faIcon"></i></a>
                            <a href="#"><i class="fa fa-twitter faIcon"></i></a>
                            <a href="#"><i class="fa fa-pinterest faIcon"></i></a>
                            <a href="#"><i  class="fa fa-linkedin faIcon"></i></a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 segment-four">
                            <h2>Our Newsletter</h2>
                            <form action="">
                                <input type="email">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>